<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hospital.client.mapper.LoginMapper">
  <select id="loginOk" resultType="String">
    select user_name from user
    where user_id=#{user_id} and user_pwd=#{user_pwd}
  </select>
  <select id="getState" resultType="Integer">
    select state from user
    where user_id=#{user_id}
</select>

  <select id="findUserId" resultType="String">
    select user_id from user 
    where user_email=#{user_email}
    and user_name=#{user_name}
  </select>

  <select id="findPassword" resultType="String">
    select user_pwd from user 
    where user_email = #{user_email} 
    and user_id = #{user_id}
  </select>
  
  <update id="updatePwd">
    update user
    set user_pwd = #{newPwd}
    where user_id = #{user_id}
</update>
  
</mapper>