<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hospital.client.mapper.UserMapper">
  <insert id="userOk" parameterType="kr.co.hospital.client.dto.UserDto">
    insert into user(user_id,user_pwd,user_name,user_phone,user_email,user_jumin,user_addr,state,writeday)
    values(#{user_id},#{user_pwd},#{user_name},#{user_phone},#{user_email},#{user_jumin},#{user_addr},#{state},now())
  </insert>
  
  <select id="useridCheck" resultType="String">
    select count(*) from user
    where user_id=#{user_id}
  </select>
  
  <select id="getUserInfo" parameterType="String" resultType="kr.co.hospital.client.dto.UserDto">
    select * from user
    where user_id = #{userId}
  </select>
    
  <update id="updateOkUser" parameterType="kr.co.hospital.client.dto.UserDto">
    update user set
    user_name=#{user_name},
    user_phone=#{user_phone},
    user_email=#{user_email},
    user_jumin=#{user_jumin},
    user_addr=#{user_addr}
    where user_id=#{user_id}
  </update>
  
  <update id="updatePwd" parameterType="map">
    update user
    set user_pwd = #{new_pwd}
    where user_id = #{userId}
  </update>
    
</mapper>
