<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hospital.admin.mapper.AdminInquiryMapper">
	<select id="getState" resultType="String">
		select state from user
		where user_id=#{session_user_id}
	</select>	
	<select id="inquirylist" resultType="HashMap">
		select * from inquiry
		order by group_order desc,
		state asc
	</select>
</mapper>